<!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="user-profile">
                            <!-- TODO: imagen -->
                            <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="http://192.168.56.102:3000/uploads/pacientes/1556461775819.jpg" alt="user" /><span class="hide-menu">{{ _usuarioService.nombre }}</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a routerLinkActive="active" routerLink="{{'/perfil'}}">Mi perfil </a></li>
                                <li><a routerLinkActive="active" routerLink="/account-settings">Opciones de cuenta</a></li>
                                <li><a (click)="_usuarioService.logout()" class="pointer">Finalizar sesion</a></li>
                            </ul>
                        </li>
                        <li class="nav-devider"></li>
                        <li class="nav-small-cap">Opciones</li>

                        <li *ngFor="let menu of _sidebar.menu">
                            <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><i [class]="menu.icono"></i><span class="hide-menu">{{ menu.titulo }}<span class="label label-rouded label-themecolor pull-right"> {{ menu.submenu.length }}</span></span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li *ngFor="let submenu of menu.submenu">
                                    <a routerLinkActive="active" routerLink="{{submenu.url}}">{{submenu.titulo}}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->