<!-- Combobox con los roles del medico -->
<!-- Evento al clickar el dia de mostrar horas disponibles enviando 
id paciente, especialidad medico y fecha  -->
<div *ngIf="tipoUsuario === 'paciente'">
  <h2>Médico:</h2>
  <SELECT (change)="cambiarMedico($event.target.value)"> 
    <OPTION>Ninguno</OPTION>
    <OPTION *ngFor="let item of medicos">{{item.especialidad}}</OPTION>
  </SELECT>
    
<hr>
<div style="float: left;width:70%">
  <jqxCalendar #myCalendar style="margin-top: 3px" (onChange)="myCalendarEvent($event)" (onViewChange)="myCalendarEvent($event)"
                [width]="'100%'" [height]="220">
  </jqxCalendar>
</div>
<h3>Pedir a las:</h3>
<div style="width:25%;height:300px;overflow:scroll">
  <table>
    <tr class="clickable-row" *ngFor="let item of horas; let i = index">
      <td (click)="seleccionarHora( item )">{{item}}</td>
    </tr>
  </table>
</div>
</div>