<form ngNativeValidate #f="ngForm" (ngSubmit)="ingresar( f )">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">Nombre</label>
      <input [ngModel]="nombre" name="nombre" class="form-control" type="text" required placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
      <label for="apellido">Apellido</label>
      <input [ngModel]="apellido" name="apellido" class="form-control" type="text" required placeholder="Apellido">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group  col-md-6">
      <label for="inputAddress">Usuario</label>
      <input [ngModel]="usuario" name="usuario" class="form-control" type="text" required placeholder="Usuario">
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">Contraseña</label>
      <input [ngModel]="password" name="password" class="form-control" type="password" required placeholder="Contraseña">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [ngModel]="email" name="email" class="form-control" type="email" required placeholder="Email">
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputCity">Telefono</label>
      <input [ngModel]="telefono" name="telefono" class="form-control" type="text" placeholder="Teléfono">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">Especialidad</label>
      <select [ngModel]="especialidad" name="especialidad" class="form-control" id="Especialidad">
        <option *ngFor="let item of especialidades">{{item}}</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="inputZip">Rol</label>
      <select [ngModel]="rol" name="rol" id="inputState" class="form-control" id="Rol">
        <option>Médico</option>
        <option>Administrador</option>
      </select>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Crear médico</button>
</form>
